{% extends "base.html" %}

{% load staticfiles %}

{% block extra-head %}
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-resource.js"></script>
<script type="text/javascript" src="{% static 'walks/main.js' %}"></script>
{% endblock extra-head %}

{% block content %}
<div class="main-app" ng-app="myApp">
  <div class="walks" ng-controller="WalksController">
    <div class="walk" ng-repeat="walk in walks">
      {% verbatim %}
        {{ walk }}
      {% endverbatim %}
    </div>
  </div>
</div>
{% endblock content %}
