{% extends "base.html" %}

{% load staticfiles %}

{% block extra-head %}
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-resource.js"></script>
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-cookies.js"></script>
<script type="text/javascript" src="{% static 'walks/date.format.js' %}"></script>
<script type="text/javascript" src="{% static 'walks/main.js' %}"></script>
{% endblock extra-head %}

{% block content %}
<div class="main-app" ng-app="myApp">
    {% verbatim %}
    <div class="walks" ng-controller="WalksController">
        <table class="table">
            <thead>
                <tr>
                    <td><!-- Edit column filler --></td>
                    <td>Date</td>
                    <td>Distance (meters)</td>
                    <td>Time (seconds)</td>
                    <td>Avg. Speed (m/s)</td>
                    <td><!-- Actions column filler --></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <input type="text" class="form-control" name="date" ng-model="newWalk.date">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="distance" ng-model="newWalk.distance">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="time" ng-model="newWalk.time">
                    </td>
                    <td></td>
                    <td>
                        <button class="btn" ng-click="saveNewWalk()">Save</button>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>Filter by date:</td>
                    <td>
                        <input type="text" class="form-control" name="from" ng-model="dateFilter.from">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="to" ng-model="dateFilter.to">
                    </td>
                    <td></td>
                    <td>
                        <button
                            class="btn"
                            ng-click="clearDateFilter()">Clear</button>
                    </td>
                </tr>
                <tr ng-repeat="walk in walks | filter:betweenFilter('date', dateFilter)" ng-controller="WalkController">
                    <td>
                        <button
                            class="btn"
                            ng-hide="editMode"
                            ng-click="edit()">Edit</button>
                        <button
                            class="btn"
                            ng-show="editMode"
                            ng-click="save()">Save</button>

                    </td>
                    <td>
                        <span ng-hide="editMode">{{ walk.date }}</span>
                        <input ng-show="editMode" type="text" class="form-control" name="date" ng-model="walk.date">
                    </td>
                    <td>
                        <span ng-hide="editMode">{{ walk.distance }}</span>
                        <input ng-show="editMode" type="text" class="form-control" name="distance" ng-model="walk.distance">
                    </td>
                    <td>
                        <span ng-hide="editMode">{{ walk.time }}</span>
                        <input ng-show="editMode" type="text" class="form-control" name="time" ng-model="walk.time">
                    </td>
                    <td>
                        {{ walk.distance/walk.time | number: 2 }}
                    </td>
                    <td>
                        <button
                            class="btn"
                            ng-click="remove()">X</button>
                    </td>
                </tr>
            </tbody>

        </table>

        <div class="weeks-avg">
            <h4>
                Weekly average speed & average distance per jog
            </h4>
            <p class="week" ng-repeat="(week, stats) in weekStats">
                <b>{{ week }}</b> {{ stats.distance/stats.time | number: 2 }}m/s {{ stats.distance/stats.walks }} meters
            </p>
        </div>
    </div>
    {% endverbatim %}
</div>
{% endblock content %}
