{% extends "base.html" %}

{% load staticfiles %}

{% block extra-head %}
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-resource.js"></script>
<script type="text/javascript" src="{% static 'walks/main.js' %}"></script>
{% endblock extra-head %}

{% block content %}
<div class="main-app" ng-app="myApp">
    {% verbatim %}
    <div class="walks" ng-controller="WalksController">
        <table class="table">
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Distance</td>
                    <td>Time</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="walk in walks">
                    <td>{{ walk.date }}</td>
                    <td>{{ walk.distance }}</td>
                    <td>{{ walk.time }}</td>
                </tr>
            </tbody>

        </table>
    </div>
    {% endverbatim %}
</div>
{% endblock content %}
